.navigation {
	background-color: $primary_color;
    
    li {
        background-color: $primary_color_dark;
        color: $primary_color_text;
        transition: 0.5s ease all;
		
		&:hover {
			background-color: $primary_color_dark2;
		}
    }
}

.conversion_output {
	background: $conv_back;
	border: 2px solid $conv_border_color;
	color: $conv_text_color;
}

.panel_container {
    background-color: $panel_back_color;
    color: $panel_color;
}

.status_bar {
	background-color: $primary_color_dark;
}

.overlay {
	background: rgba(0,0,0,0.95);
}

.editor_area {
	height: calc(100% - 1.8rem - 4px) !important;
}

.page_tabs {
    background-color: $tab_back;
    padding-top: 4px !important;

    li {
        background-color: $tab_reg;
        color: $tab_reg_color;
        font-weight: bold;
        cursor: pointer;
        border-top: 3px solid $tab_reg_border;

        span {
            vertical-align: middle;
        }

        &.selected {
            background-color: $tab_sel;
            color: $tab_sel_color;
            border-top-color: $tab_sel_border;
        }
    }

    div {
        background-image: url(../images/icons/close.svg);
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.5s ease opacity;
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }
}

.panel_registers {            
    .reg_assigned {
        background-color: $table_done_back;
        color: $table_done_color;

        li:nth-child(even) {
            background-color: $table_done_alt_back;
            color: $table_done_alt_color;
        }
    }
   
    .reg_new {
        background-color: $table_new_back;
        color: $table_new_color;

        li:nth-child(even) {
            background-color: $table_new_alt_back;
            color: $table_new_alt_color;
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;

	tr {
		font-size: 0.8rem;
		text-align: center;

		td {
			padding: 0.3rem;
        }
    }
    
    tbody {
        tr {
            &:nth-child(odd) {
                background: $table_back;
                color: $table_color;
            }
            
            &:nth-child(even) {
                background: $table_alt_back;
                color: $table_alt_color;
            }
        }
    }
}
    
.panel_tabs {
    background-color: $tab_back;

    li {
        background-color: $tab_reg;
        color: $tab_reg_color;
        transition: 0.5s all ease;
        cursor: pointer;
        border-top: 3px solid $tab_reg_border;
        font-size: 0.5rem;

        &.selected {
            background-color: $tab_sel;
            color: $tab_sel_color;
            border-top-color: $tab_sel_border;
        }
    }
}

.button {
    border-radius: 4px;
    color: $button_text;
    border: none;
    background: $button_back;
    transition: 0.5s ease all;
    cursor: pointer;
    
    &:hover {
        background: $button_hover_back;
        color: $button_hover_text;
    }
}

.panel_drag {
    background: $border_color;
}

.oak_logo {
    background-image: url(/images/icon.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;

    width: 40px;
    height: 40px;
    box-sizing: border-box;

    transition: 0.5s ease background-size;

    &:hover {
        background-size: 55%;
    }
}

.buttons_right button {
    background-color: $primary_color_dark;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    transition: 0.5s ease all;
    cursor: pointer;

    &:hover {
        background-color: $primary_color_dark2;
    }
}

.assemble {
    background-image: url(/images/assemble.png);
}

.simulate:not(.assemble_ready) {
    background-image: url(/images/play.png);
}

.simulate_step:not(.assemble_ready) {
    background-image: url(/images/stepByStep.png);
}

.simulate.assemble_ready {
    background-image: url(/images/playAssemble.png);
}

.simulate_step.assemble_ready {
    background-image: url(/images/stepByStepAssemble.png);
}

.simulate_prevent_input {
    opacity: 0.2;
}

.blinker {
    animation: blinker 0.5s ease-in-out infinite;
}

.running_console {
    opacity: 0.5;
    font-style: italic;
}

@keyframes blinker {
    50% {
        opacity: 0.25;
    }
}

.no_tabs {
    background: $no_tab_back;

    h2 {
        color: $no_tab_header;
    }

    p {
        color: $no_tab_text;
        font-size: 0.8rem;
    }

    .button {
        box-shadow: $shadow;
        transition: $shadow_transition;

        &:hover {
            box-shadow: $shadow_hover;
        }
    }
}

.settings_container {
	width: 90%;
    max-width: 900px;
    max-height: 90vh;
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $shadow_hover;
    background: $settings_back;
    border-radius: 8px;
    overflow-y: auto;
    
    h2 {
        margin: 0;
        padding: 1rem;
        vertical-align: top;
        background: $primary_color;
        color: $primary_color_text;
    }

    thead tr {
        color: $settings_title_text;
        padding: 1rem;
        font-size: 1.1rem;
    }

    .overlay_contents {
        margin: 1rem;
    }
}

.drop_down {
    border-bottom-right-radius: $radius;
    box-shadow: $shadow_hover;

    li {
        background-color: #eee;
        border-left: 4px solid $primary_color;
        color: #999;

        &:hover {
            background-color: #ddd;
            border-left-color: $primary_color_dark;
            color: #666;
        }

        &:last-of-type {
            border-bottom-right-radius: $radius;
        }
    }
}

.panel {
    font-size: 0.7rem;
    font-family: 'Courier New', Courier, monospace;
}

.console_output {
    color: $console_output;
}

.console_success {
    color: $console_success;
}

.console_error {
    color: $console_fail;
}

.panel_side .panel_tabs {
    padding-top: 4px;
}

.key_bar {
    background-color: $key_bar;
    border-radius: $radius;

    span {
        display: inline-block;
        vertical-align: top;
        background: $key_back;
        border-radius: 8px;
        padding: 0.4rem;
        color: $key_text_color;
        font-size: 0.6rem;
        margin: 0.2rem;
        text-transform: uppercase;
    }
}


.input_group, .select_group {
	position: relative;
	font-size: 30px;
	width: calc(100% - 0.4rem);
	margin: 0.2rem;
	box-sizing: border-box;

    .group_label {
        font-size: 0.55rem;
        top: 0.2rem;
        opacity: 1;
		position: absolute;
		pointer-events: none;
        transition: 0.5s ease all;
        color: $label_color;
		
		.rtl & {
			right: 2rem;
		}

		body:not(.rtl) & {
			left: 2rem;
			top: 0.32rem;
		}
    }

    input, select {
        padding: 0.6rem;
        padding-top: 1.0rem;
        padding-bottom: 0.4rem;
        font-size: 0.7rem;
        transition: 0.5s ease all;
        border: 2px solid $input_border_color;
        color: $input_text_color;
        background-color: $input_back;
        width: 100%;
		box-sizing: border-box;

		&:hover {
			background-color: $input_hover_text_color;
			background-color: $input_hover_back;
			border-color: $input_hover_border_color;
		}

		&:focus {
			background-color: $input_focus_text_color;
			background-color: $input_focus_back;
			border-color: $input_focus_border_color;
		}

        body.rtl & {
            padding-right: 2.00rem;
        }
        body:not(.rtl) & {
            padding-left: 2.0rem;
		}
	}

	input {
		background-repeat: no-repeat;
		background-size: 1rem;
		border-radius: $radius;

		.rtl & {
			background-position: calc(100% - 0.6rem) center;
		}

		body:not(.rtl) & {
			background-position: 0.6rem center;
		}
	}

	select {
        border-radius: $radius;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-repeat: no-repeat;
		background-size: 0.6rem, 1rem;

		.rtl & {
			background-position: 0.6rem center, calc(100% - 0.5rem) center;
		}

		body:not(.rtl) & {
			background-position: calc(100% - 0.5rem) center, 0.6rem center;
		}
	}

    input:placeholder-shown, select:invalid {
        padding-top: 1rem;
        padding-bottom: 0.4rem;
    }

    input:placeholder-shown:not(:hover):not(:focus) + .group_label, select:invalid + .group_label {
        font-size: 0.7rem;
        right: 2rem;
        top: 0.8rem;
    }

    ::placeholder {
        color: transparent;
        opacity: 0;
    }
    
    :-ms-input-placeholder {
        color: transparent;
    }
    
    ::-ms-input-placeholder {
        color: transparent;
    }

    select:invalid {
        color: transparent
	}
}