$foreground: #fff;
$background: #000;

$closeimg_float: url(../images/closeLight.png);
$closeimg: url(../images/closeLight.png);
$imgfilter: none;

@import "theme_minimal";

* {
    font-family: 'Consolas', "Lucida Console", Monaco, monospace !important;
}