#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigation {
  background-color: #74849a;
}

.navigation li {
  background-color: #67778e;
  color: white;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.navigation li:hover {
  background-color: #5c6b7f;
}

.conversion_output {
  background: #74849a;
  border: 2px solid #67778e;
  color: white;
}

.panel_container {
  background-color: #f3f3f3;
  color: #333;
}

.status_bar {
  background-color: #67778e;
}

.overlay {
  background: rgba(0, 0, 0, 0.95);
}

.editor_area {
  height: calc(100% - 1.8rem - 4px) !important;
}

.page_tabs {
  background-color: #dadada;
  padding-top: 4px !important;
}

.page_tabs li {
  background-color: #dadada;
  color: #333;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  border-top: 3px solid #67778e;
}

.page_tabs li span {
  vertical-align: middle;
  font-size: 0.6rem;
}

.page_tabs li.selected {
  background-color: #f3f3f3;
  color: #666666;
  border-top-color: #74849a;
  font-weight: bold;
}

.page_tabs div {
  background-image: url(../images/icons/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s ease opacity;
  transition: 0.5s ease opacity;
  opacity: 0.3;
}

.page_tabs div:hover {
  opacity: 1;
}

.panel_registers .reg_assigned {
  background-color: #a87926;
  color: #333;
}

.panel_registers .reg_assigned li:nth-child(even) {
  background-color: #d09731;
  color: #4d4d4d;
}

.panel_registers .reg_new {
  background-color: #569c18;
  color: #333;
}

.panel_registers .reg_new li:nth-child(even) {
  background-color: #6ec81f;
  color: #4d4d4d;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr {
  font-size: 0.8rem;
  text-align: center;
}

table tr td {
  padding: 0.5rem;
}

table tbody tr:nth-child(odd) {
  background: #f3f3f3;
  color: #333;
}

table tbody tr:nth-child(even) {
  background: #ddd;
  color: #4d4d4d;
}

.panel_tabs {
  background-color: #dadada;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.panel_tabs li {
  background-color: #dadada;
  color: #333;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  cursor: pointer;
  border-top: 3px solid #67778e;
  font-size: 0.6rem;
}

.panel_tabs li.selected {
  background-color: #f3f3f3;
  color: #666666;
  border-top-color: #74849a;
}

.button {
  border-radius: 4px;
  color: white;
  border: none;
  background: #74849a;
  border: 2px solid #74849a;
  font-weight: bold;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
}

.button.subbutton {
  color: #74849a;
  border: 2px solid #74849a;
  background: transparent;
}

.button.subbutton:hover {
  background: transparent;
  color: #060709;
  border-color: #060709;
}

.button:hover {
  background: #5c6b7f;
  color: white;
}

.panel_drag {
  background: #a7a7a7;
}

.oak_logo {
  background-image: url(../images/icon.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s ease background-size;
  transition: 0.5s ease background-size;
}

.oak_logo:hover {
  background-size: 55%;
}

.buttons_right button {
  background-color: #67778e;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  cursor: pointer;
}

.buttons_right button:hover {
  background-color: #5c6b7f;
}

.assemble {
  background-image: url(../images/assemble.png);
}

.simulate:not(.assemble_ready) {
  background-image: url(../images/play.png);
}

.simulate_step:not(.assemble_ready) {
  background-image: url(../images/stepByStep.png);
}

.simulate.assemble_ready {
  background-image: url(../images/playAssemble.png);
}

.simulate_step.assemble_ready {
  background-image: url(../images/stepByStepAssemble.png);
}

.simulate_prevent_input {
  opacity: 0.2;
}

.blinker {
  -webkit-animation: blinker 0.5s ease-in-out infinite;
          animation: blinker 0.5s ease-in-out infinite;
}

.running_console {
  opacity: 0.5;
  font-style: italic;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0.25;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.25;
  }
}

.no_tabs {
  background: #f3f3f3;
}

.no_tabs h2 {
  color: #333;
}

.no_tabs p {
  color: #333;
  font-size: 0.8rem;
}

.no_tabs .button {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.no_tabs .button:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.settings_container {
  width: 90%;
  max-width: 900px;
  max-height: 90vh;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #f3f3f3;
  border-radius: 8px;
  overflow-y: auto;
  border: none;
}

.settings_container h2 {
  margin: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  vertical-align: top;
  background: #74849a;
  color: white;
  text-align: center;
}

.settings_container thead tr {
  color: #666;
  padding: 1rem;
  font-size: 1.1rem;
}

.settings_container .overlay_contents {
  margin: 1rem;
  font-family: 0.8rem;
  color: #333;
}

.settings_container .button {
  float: right;
  width: auto;
}

.drop_down {
  border-bottom-right-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.drop_down li {
  background-color: #eee;
  border-left: 4px solid #74849a;
  color: #999;
}

.drop_down li:hover {
  background-color: #ddd;
  border-left-color: #67778e;
  color: #666;
}

.drop_down li:last-of-type {
  border-bottom-right-radius: 8px;
}

.panel {
  font-size: 0.8rem;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
}

.console_output {
  color: #7a7a7a;
}

.console_success {
  color: #598039;
}

.console_error {
  color: #7f3939;
}

.panel_side .panel_tabs {
  padding-top: 4px;
}

.key_bar {
  background-color: #67778e;
  border-radius: 8px;
}

.key_bar span {
  display: inline-block;
  vertical-align: top;
  background: #333;
  border-radius: 8px;
  padding: 0.4rem;
  color: #eee;
  font-size: 0.6rem;
  margin: 0.2rem;
  text-transform: uppercase;
}

.input_group, .select_group {
  position: relative;
  font-size: 30px;
  width: calc(100% - 0.4rem);
  margin: 0.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input_group .group_label, .select_group .group_label {
  font-size: 0.55rem;
  top: 0.2rem;
  opacity: 1;
  position: absolute;
  pointer-events: none;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  color: #999;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
}

.rtl .input_group .group_label, .rtl .select_group .group_label {
  right: 2rem;
}

body:not(.rtl) .input_group .group_label, body:not(.rtl) .select_group .group_label {
  left: 2rem;
  top: 0.32rem;
}

.input_group input, .input_group select, .select_group input, .select_group select {
  padding: 0.6rem;
  padding-top: 1.0rem;
  padding-bottom: 0.4rem;
  font-size: 0.7rem;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  border: 2px solid #dadada;
  color: #333;
  background-color: white;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 3rem;
}

.input_group input:hover, .input_group select:hover, .select_group input:hover, .select_group select:hover {
  background-color: #1a1a1a;
  background-color: #e6e6e6;
  border-color: silver;
}

.input_group input:focus, .input_group select:focus, .select_group input:focus, .select_group select:focus {
  background-color: black;
  background-color: #cccccc;
  border-color: #a7a7a7;
}

body.rtl .input_group input, body.rtl .input_group select, body.rtl .select_group input, body.rtl .select_group select {
  padding-right: 2.00rem;
}

body:not(.rtl) .input_group input, body:not(.rtl) .input_group select, body:not(.rtl) .select_group input, body:not(.rtl) .select_group select {
  padding-left: 2.0rem;
}

.input_group input, .select_group input {
  background-repeat: no-repeat;
  background-size: 1rem;
  border-radius: 8px;
}

.rtl .input_group input, .rtl .select_group input {
  background-position: calc(100% - 0.6rem) center;
}

body:not(.rtl) .input_group input, body:not(.rtl) .select_group input {
  background-position: 0.6rem center;
}

.input_group select, .select_group select {
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-size: 0.6rem, 1rem;
}

.rtl .input_group select, .rtl .select_group select {
  background-position: 0.6rem center, calc(100% - 0.5rem) center;
}

body:not(.rtl) .input_group select, body:not(.rtl) .select_group select {
  background-position: calc(100% - 0.5rem) center, 0.6rem center;
}

.input_group input:placeholder-shown, .input_group select:invalid, .select_group input:placeholder-shown, .select_group select:invalid {
  padding-top: 1rem;
  padding-bottom: 0.4rem;
}

.input_group input:placeholder-shown:not(:hover):not(:focus) + .group_label, .input_group select:invalid + .group_label, .select_group input:placeholder-shown:not(:hover):not(:focus) + .group_label, .select_group select:invalid + .group_label {
  font-size: 0.7rem;
  right: 2rem;
  top: 0.8rem;
}

.input_group ::-webkit-input-placeholder, .select_group ::-webkit-input-placeholder {
  color: transparent;
  opacity: 0;
}

.input_group :-ms-input-placeholder, .select_group :-ms-input-placeholder {
  color: transparent;
  opacity: 0;
}

.input_group ::-ms-input-placeholder, .select_group ::-ms-input-placeholder {
  color: transparent;
  opacity: 0;
}

.input_group ::placeholder, .select_group ::placeholder {
  color: transparent;
  opacity: 0;
}

.input_group :-ms-input-placeholder, .select_group :-ms-input-placeholder {
  color: transparent;
}

.input_group ::-ms-input-placeholder, .select_group ::-ms-input-placeholder {
  color: transparent;
}

.input_group select:invalid, .select_group select:invalid {
  color: transparent;
}

.cookie_screen {
  padding: 2rem;
  text-align: center;
  color: #333;
}

.cookie_screen h3 {
  font-size: 1.3rem;
}

.cookie_screen p {
  padding: 1rem;
  font-size: 1.0rem;
}

.cookie_screen .button {
  width: auto;
}

#editor_area {
  background: #f3f3f3;
  color: #000;
}

#editor_area .ace_gutter {
  background: #eee;
  color: #AAA;
}

#editor_area .ace_keyword {
  font-weight: bold;
}

#editor_area .ace_string {
  color: #D14;
}

#editor_area .ace_variable.ace_class {
  color: teal;
}

#editor_area .ace_constant.ace_numeric {
  color: #099;
}

#editor_area .ace_constant.ace_buildin {
  color: #0086B3;
}

#editor_area .ace_support.ace_function {
  color: #0086B3;
}

#editor_area .ace_comment {
  color: #998;
  font-style: italic;
}

#editor_area .ace_variable.ace_language {
  color: #0086B3;
}

#editor_area .ace_paren {
  font-weight: bold;
}

#editor_area .ace_boolean {
  font-weight: bold;
}

#editor_area .ace_string.ace_regexp {
  color: #009926;
  font-weight: normal;
}

#editor_area .ace_variable.ace_instance {
  color: teal;
}

#editor_area .ace_constant.ace_language {
  font-weight: bold;
}

#editor_area .ace_cursor {
  color: black;
}

#editor_area.ace_focus .ace_marker-layer .ace_active-line {
  background: #ffffcc;
}

#editor_area .ace_marker-layer .ace_active-line {
  background: whitesmoke;
}

#editor_area .ace_marker-layer .ace_selection {
  background: #b5d5ff;
}

#editor_area .ace-github.ace_multiselect .ace_selection.ace_start {
  -webkit-box-shadow: 0 0 3px 0px white;
          box-shadow: 0 0 3px 0px white;
}

#editor_area .ace-github.ace_nobold .ace_line > span {
  font-weight: normal !important;
}

#editor_area .ace_marker-layer .ace_step {
  background: #fcff00;
}

#editor_area .ace_marker-layer .ace_stack {
  background: #a4e565;
}

#editor_area .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid silver;
}

#editor_area .ace_gutter-active-line {
  background-color: rgba(0, 0, 0, 0.07);
}

#editor_area .ace_marker-layer .ace_selected-word {
  background: #fafaff;
  border: 1px solid #c8c8fa;
}

#editor_area .ace_invisible {
  color: #BFBFBF;
}

#editor_area .ace_print-margin {
  width: 1px;
  background: #e8e8e8;
}

#editor_area .ace_indent-guide {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==") right repeat-y;
}
/*# sourceMappingURL=theme_light.css.map */