$primary_color: #526681;
$primary_color_dark: darken($primary_color, 5%);
$primary_color_dark2: darken($primary_color, 10%);
$primary_color_text: white;

$panel_back_color: #444;
$panel_color: #eee;
$border_color: darken($panel_back_color, 30%);

$tab_back: darken($panel_back_color, 10%);
$tab_reg: $tab_back;
$tab_reg_color: $panel_color;
$tab_reg_border: $primary_color_dark;
$tab_sel: $panel_back_color;
$tab_sel_color: lighten($tab_reg_color, 20%);
$tab_sel_border: $primary_color;

$table_back: $panel_back_color;
$table_color: $panel_color;
$table_alt_back: lighten($table_back, 10%);
$table_alt_color: lighten($table_color, 10%);

$table_done_back: #a87926;
$table_done_color: $panel_color;
$table_done_alt_back: lighten($table_done_back, 10%);
$table_done_alt_color: lighten($table_done_color, 10%);

$table_new_back: #569c18;
$table_new_color: $panel_color;
$table_new_alt_back: lighten($table_new_back, 10%);
$table_new_alt_color: lighten($table_new_color, 10%);

$settings_back: $panel_back_color;
$radius: 8px;
$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow_hover: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow_transition: all 0.3s cubic-bezier(.25,.8,.25,1);

$label_color: #aaa;

$input_text_color: $panel_color;
$input_back: lighten($panel_back_color, 10%);
$input_border_color: darken($panel_back_color, 10%);

$input_hover_text_color: darken($input_text_color, 10%);
$input_hover_back: darken($input_back, 10%);
$input_hover_border_color: darken($input_border_color, 10%);

$input_focus_text_color: darken($input_text_color, 20%);
$input_focus_back: darken($input_back, 20%);
$input_focus_border_color: darken($input_border_color, 20%);

$settings_title_text: #eee;

$conv_back: $primary_color;
$conv_text_color: $primary_color_text;
$conv_border_color: $primary_color_dark;

$no_tab_back:   $panel_back_color;
$no_tab_header: #999;
$no_tab_text:   $panel_color;

$button_text: $primary_color_text;
$button_back: $primary_color;
$button_hover_text: lighten($button_text, 10%);
$button_hover_back: $primary_color_dark2;

$key_bar: $primary_color_dark;
$key_back: #333;
$key_text_color: #eee;

$console_output: rgb(122, 122, 122);
$console_success: rgb(89, 128, 57);
$console_fail: hsl(0, 38%, 36%);

$altbutton: lighten($button_back, 10%);
$altbutton_hover: #fff;

$overlay_container_border: none;

$about_primary: #eee;
$about_secondary: #bbb;

@import "theme_template";
@import "theme_ace_dark";