body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cross {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Main Container */
main {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
}

main.helpMain {
    position: relative;
    top: 0;
}

.toast {
    position: absolute;
    z-index: 400;
    left: 2em;
    right: 2em;
    bottom: 2em;
    border-radius: 4px;
    padding: 1em;
}

/* Editor */
section {
    position: absolute;
    top: 0;
    height: 75%;
    left: 0;
    width: 80%;
    box-sizing: border-box;
    overflow: hidden;
}

section > #editor {
    position: absolute;
    top: 27px;
    bottom: 0;
    width: 100%;
}

section > #editor * {
    font-family: monospace;
}

/* Section Side */
section > select {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    background: transparent;
    padding: 0.5em;
    z-index: 2;
    margin-right: 16px;
}

section > aside {
    position: absolute;
    top: 27px;
    bottom: 0;
    right: 0;
    width: 0%;
    z-index: 1;
    overflow: none;
}

section > aside > textarea {
    resize: none;
    position: absolute;
    width: 100%;
    margin-left: 2px;
    padding: 0.5em;
    height: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
}

/* Side */
main > aside {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    box-sizing: border-box;
    padding-left: 4px;
    font-size: 75%;
}

.optionsTabs {
    width: 100%;
}

.optionsTabs > div.selected {
    background: transparent;
}

.optionsTabs > div {
    width: 33.3%;
    padding: 8px;
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

main > aside span {
    margin: 4px 3%;
}

main > aside select, main > aside input {
    width: 94%;
    margin: 4px 3%;
    padding: 0.5em;
    border: none;
    box-sizing: border-box;
    margin-bottom: 16px;
}

button {
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

main > aside button {
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 94%;
    box-sizing: border-box;
    padding: 0.8em;
    margin: 8px 3%;
}

main > aside > .projectSettings, main > aside > .registerStatus, main > aside > .conversion {
    position: absolute;
    top: 2.5em;
    right: 0;
    left: 4px;
    bottom: 0;
    display: none;
}

#outputVal {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main > aside > .selected {
    display: block;
}

.registerStatus {
    overflow-y: auto;
}

.projectSettings > div, .conversion > div {
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 3em;
    left: 0;
    margin-bottom: 16px;
}

/* Console */
footer {
    position: absolute;
    bottom: 0;
    height: 25%;
    left: 0;
    width: 80%;
    overflow: hidden;
}

/* Resizers */
.grabberX {
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
    z-index: 40;
}

.grabberY {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    cursor: ns-resize;
    z-index: 40;
}

/* Header */
header {
    position: relative;
    height: 40px;
    z-index: 100;
    box-shadow: 0 0 24px rgba(0,0,0,0.4);
}

header img {
    height: 32px;
    transition: transform 0.3s ease-in-out;
}

header > a {
    float: right;
    height: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    position: relative;
}

header > a > img {
    height: 100%;
}

.noTab header > a {
    display: none;
}

header > a:first-child, .noFloat {
    float: none;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    color: #ddd;
    font-size: 80%;
    text-decoration: none;
    cursor: pointer;
    padding: 4px 16px;
}

.noFloat {
    padding: 1em 2em;
}

header > a:hover {
    background: rgba(255,255,255,0.1);
}

header > a:hover img {
    transform: scale(1.2);
}

/* Navigation Tabs */
main nav {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

main nav:hover {
    overflow-x: auto;
    overflow-x: overlay;
}

main nav > div.edited > span:after {
    content: '*';
}

main nav > div > div {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 12px;
    margin-bottom: -1px;
    opacity: 0;
    transition: opacity 0.4s ease;
    background-size: cover;
    background-position: cover;
}

main nav > div:hover > div, main nav > div.selected > div {
    opacity: 0.6;
}

main nav > div {
    display: inline-block;
    padding: 2px;
    border-right: 1px solid;
    padding: 6px 12px;
    font-size: 70%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    user-select: none;
    cursor: pointer;
}

/* Tool Selector */
header > select {
    float: right;
    height: 100%;
    padding: 0 1em;
    border: none;
    color: #eee;
}

/* Context Menu */
#contextMenu {
    color: #666;
    position: absolute;
    background: #eee;
    border-radius: 2px;
    border: 1px solid #aaa;
    font-size: 75%;
    display: none;
    z-index: 99;
}

#contextMenu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#contextMenu li {
    padding: 4px 8px;
}

#contextMenu li:hover {
    background: #7c8ea6;
    color: white;
    cursor: pointer;
}

/* Table */
table {
    width: 100%;
    text-align: center;
    font-size: 110%;
    font-family: monospace;
}

table select {
    padding: 0.2em;
    margin: 0;
    font-weight: bold;
}

td {
    padding: 0.5em;
}

th {
    font-weight: bold;
    padding: 0.8em;
}

hr {
    border: none;
    height: 2px;
    margin: 0 8px;
    margin-bottom: 1em;
}

footer > select {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    padding: 0.5em;
    z-index: 1;
    margin-right: 16px;
}

#noTab {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    text-align: center;
}

.noTab #noTab:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
}

.noTab #noTab {
    display: block;
}

#noTab div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

#noTab p {
    font-size: 80%;
}

#noTab button {
    width: 31%;
    margin: 0 1%;
    padding: 1em;
    border: 8px solid transparent;
    box-sizing: border-box;
    font-size: 80%;
}

.noTab footer, .noTab aside, .noTab section {
    display: none;
}

header > div {
    position: relative;
    display: inline-block;
    word-wrap: nowrap;
    overflow: visible;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    vertical-align: top;
}

header > div > span {
    padding: 0.75em 2em;
    margin: 0;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    top: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
    vertical-align: middle;
}

header > div > div {
    display: none;
    width: 200%;
    border-radius: 0 0 4px 4px;
    z-index: 100;
    position: absolute;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    box-shadow: 0 0 8px black;
}

header > div > div .menuSection {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

header > div:hover > div {
    display: block;
}

header > div > div > input {
    display: none;
}

header > div > div a, header > div > div label {
    display: block;
    background: transparent;
    padding: 1em;
    font-size: 75%;
    transition: background-color 0.5s ease, color 0.5s ease, 0.5s ease padding-left;
    text-decoration: none;
    cursor: pointer;
}

header > div > div a:hover, header > div > div label:hover {
    padding-left: 2em;
}

a + .dropdown {
    display: none;
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0;
    box-shadow: 0 0 8px black;
    border-radius: 0 4px 4px 0;
    clip-path: inset(-5px -5px -5px 0px);
}

a:hover + .dropdown, 
.dropdown:hover {
    display: block;
}

.tooltip {
	padding: 8px 12px;
	position: absolute;
	top: 40px;
	left: 50%;
	width: 104px;
	z-index: 88;
	box-sizing: border-box;
	margin-left: -56px;
	text-align: center;
	font-size: 12px;
	border-radius: 8px;
	visibility: hidden;
	opacity: 0;
    transition: opacity 1s;
}

a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip::before {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -2px;
    border-width: 5px;
    border-style: solid;
}

#console, #log, #memory {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    overflow: auto;
    padding: 1.5em;
    font-size: 100%;
    font-family: monospace;
}

#memory {
    padding-top: 30px;
}

#console {
    display: block;
}

footer span {
    display: block;
    padding: 0.2em;
    font-family: monospace;
}

footer span b {
    font-family: monospace;
}

/* Overlay */
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 2000;
    display: none;
}

.overlay > div {
    width: 30em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    margin-left: -15em;
    vertical-align: middle;
    padding-bottom: 1em;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0,0,0,0.7);

    max-height: 80%;
    overflow-y: auto;
}

.overlay .header {
    padding: 0.8em;
}

.overlay input, .overlay button, .overlay select, .hotkeyCapture {
    display: inline-block;
    box-sizing: border-box;
    width: 46%;
    height: 3em;
    vertical-align: middle;
    padding: 0.5em;
    margin: 1% 2%;
    border-radius: 2px;
}

.overlay .hotkeyCapture {
    height: 2em;
}

.overlay h4 {
    padding: 0;
    margin: 2%;
}

#settingsOverlay select {
    height: 2.5em;
    padding: 0.2em;
}

#settingsOverlay span {
    display: inline-block;
    box-sizing: border-box;
    width: 46%;
    height: 2.5em;
    padding: 0.6em 0.2em;
    vertical-align: middle;
    margin: 1% 2%;
    text-align: right;
}

#toggleCookies, #settingsAccept {
    width: 96%;
    margin: 1% 2%;
}