.toast {
    background-color: black;
    color: white;
    border-radius: 0;
    border: 2px solid white;
}

.toast a {
    color: green;
}

.cross {
    background-image: url(../Images/closeDark.png);
}

main.helpMain {
    padding: 2em;
    background: black;
    color: white;
}

body {
    background: black;
    color: white;
}

input, button, select {
    background: black;
    border: 1px solid white;
}

main > aside select, main > aside input, main > aside button {
    border: 1px solid white;
}

option {
    background-color: black;
    color: white;
}

main nav > div > div {
    background-image: url(../Images/closeDark.png);
}

header {
    border-bottom: 2px solid white;
}

/* Resizers */
.grabberX, .grabberY {
    background-color: white;
}

/* Navigation Tabs Scrollbar */
main nav::-webkit-scrollbar {
    height: 6px;
    margin-bottom: 8px;
    display: none;
    background: transparent;
}

main nav:hover::-webkit-scrollbar {
    display: block;
}
 
main nav::-webkit-scrollbar-track {
    background: transparent;
}
 
main nav::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
    box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
    height: 3px;
}

*, header a {
    font-family: Consolas, monospace;
    font-size: 14px;
    color: white;
}

section > #editor * {
    font-size: inherit;
    font-family: Consolas, monospace;
}

main nav > div {
    border: none;
}

/* Context Menu */
#contextMenu li {
    color: #666;
}

section > aside > textarea {
    background-color: black;
    color: white;
}

header > div div {
    background: black;
}

header > div > div a {
    color: #fff;
}

header > div > div a:hover {
    padding-left: 1em;
    color: #0f0;
}

#tabs {
    border-bottom: 2px solid white;
}

#editor {
    margin-top: 4px;
}

#tabs .selected {
    background: white;
}

#tabs .selected div {
    background-image: url(../Images/closeLight.png);
}

#tabs .selected span {
    color: black;
}

.optionTabs > div {
    color: #666;
}

.optionTabs > div.selected {
    color: #fff;
}

hr {
    background: white;
}

.tooltip {
	color: #0f0;
	background: black;
}

.tooltip::before {
    border: none;
}

.edited td {
    color: #962;
}

.justEdited td {
    color: #226222;
}

.overlay > div {
    background: black;
    border-radius: 0;
    border: 2px solid white;
}

.overlay .header {
    background: black;
    border-radius: 0;
    border-bottom: 2px solid white;
    color: white;
}

.overlay input, .overlay button, .overlay select, .overlay .hotkeyCapture {
    border: 1px solid white;
    color: white;
    background: black;
}

#settingsOverlay span {
    color: white;
}

.ace-oak .ace_gutter {background: #000;color: #fff;overflow: hidden;}.ace-oak .ace_print-margin {width: 1px;background: #000;}.ace-oak {background-color: #000;color: white;}.ace-oak .ace_identifier {color: black;}.ace-oak .ace_keyword {color: #fff;}.ace-oak .ace_numeric {color: white;}.ace-oak .ace_storage {color: #fff;}.ace-oak .ace_keyword.ace_operator,.ace-oak .ace_lparen,.ace-oak .ace_rparen,.ace-oak .ace_punctuation {color: #fff;}.ace-oak .ace_set.ace_statement {color: #fff;text-decoration: underline;}.ace-oak .ace_cursor {color: white;}.ace-oak .ace_invisible {color: white;}.ace-oak .ace_constant.ace_buildin {color: white;}.ace-oak .ace_constant.ace_language {color: #fff;}.ace-oak .ace_constant.ace_library {color: white;}.ace-oak .ace_invalid {background-color: black;color: white;}.ace-oak .ace_support.ace_function {color: white;}.ace-oak .ace_support.ace_constant {color: white;}.ace-oak .ace_class {color: #fff;}.ace-oak .ace_support.ace_other {color: white;}.ace-oak .ace_variable.ace_parameter {font-style: italic; color: white;}.ace-oak .ace_comment {font-style: italic; color: white;}.ace-oak .ace_constant.ace_numeric {color: white;}.ace-oak .ace_variable {color: white;}.ace-oak .ace_xml-pe {color: rgb(104, 104, 91);}.ace-oak .ace_support.ace_storedprocedure {color: white;}.ace-oak .ace_heading {color: white;}.ace-oak .ace_list {color: white;}.ace-oak .ace_marker-layer .ace_selection {background: rgb(181, 213, 255);}.ace-oak .ace_marker-layer .ace_step {background: rgb(252, 255, 0);}.ace-oak .ace_marker-layer .ace_stack {background: rgb(164, 229, 101);}.ace-oak .ace_marker-layer .ace_bracket {margin: -1px 0 0 -1px;border: 1px solid rgb(192, 192, 192);}.ace-oak .ace_marker-layer .ace_active-line {background: rgba(0, 0, 0, 0.07);}.ace-oak .ace_gutter-active-line {background-color: black;}.ace-oak .ace_marker-layer .ace_selected-word {background: black;}.ace-oak .ace_meta.ace_tag {color: white;}.ace-oak .ace_string.ace_regex {color: white;}.ace-oak .ace_string {color: white;}.ace-oak .ace_entity.ace_other.ace_attribute-name {color: white;}.ace-oak .ace_indent-guide {background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==") right repeat-y;}