body
{
    font-family: 'Segoe UI Light', 'HelveticaNeue-Light', 'Ubuntu Light', Helvetica, Arial, sans-serif;
    margin: 0;
}

h1
{
    color: #5F5F5F;
    padding: 10pt 10pt 0pt 10pt;
}

h2
{
    color: #5F5F5F;
    padding: 0pt 10pt 0pt 10pt;
}

h3
{
    padding: 0pt 10pt 0pt 10pt;
}

h4
{
    padding: 0pt 10pt 0pt 10pt;
}

p
{
    padding: 0pt 10pt 0pt 10pt;
}

#toasts {
	position: fixed;
	bottom: 2%;
	left: 2%;
	font-size: 11pt;
	z-index: 99;
	width: auto;
}

#toasts div {
	display: block;
	margin-bottom: 1%;
	padding: 16px;
    background-color: #5c7290;
	color: #ddd;
	box-shadow: 0 2px 8px rgba(0,0,0,0.5), 0 4px 32px rgba(0,0,0,0.3);
	white-space: nowrap;
	overflow: hidden;
}

#toasts div.error {
	background-color: #a44;
}

#toasts div.warning {
	background-color: #c99320;
}

.close {
	color: white;
	background-image: url("../Images/close.png");
	background-size: contain;
	background-position: center;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 2px;
	font-size: 12px;
	border-radius: 50%;
	vertical-align: top;
	text-align: center;

	transition: 0.4s ease transform;
	margin-left: 16px;
}

#toasts .close {
	background-image: url("../Images/close_white.png");
}

.close:hover {
	transform: scale(1.2);
}

#toasts b {
	color: white;
}

nav {
	background-color: #F2F2F2;
	padding: 0 8px;
}

.tabs {display: inline-block;}

.tabs > span {
	display: inline-block;
	background-color: #DDD;
	margin: 8px 8px 0 4px;
	padding: 16px;
	vertical-align: bottom;
	user-select: none;
	border-radius: 8px 8px 0 0;
	transition: 0.4s ease box-shadow, 0.4s ease background-color;
}

.tabs > span:hover {
	box-shadow: inset 0 16px 16px -16px #a9b8cc;
	background: #EEE;
}

.tabs > span > input {
	background: none;
	padding: 8px;
	margin: -4px;
	border: none;
	border-bottom: 1px solid #999;
}

.tabs > span.sel {
	background-color: white;
}

nav .addTab {
	background-color: white;
	background-image: url(../Images/add.png);
	display: inline-block;
	margin: 8px;
	width: 16px;
	height: 16px;
	padding: 8px;
	vertical-align: center;
	color: #999;
	font-weight: bold;
	border-radius: 50%;
	transition: 0.4s ease all;
}

nav .addTab:hover {
	background-color: #c9d2df;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	transform: scale(1.2);
}

.output {
	position: relative;
}

.output p {
	font-family: "Courier New", Courier, monospace;
	font-size: 80%;

	display: none;
	width: 75%;
	box-sizing: border-box;
	vertical-align: top;
	background: #DFDFDF;
	margin: 0;
	padding: 2%;
	min-height: 256px;
	user-select: none;
}

.output .side {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 25%;
	vertical-align: top;
	box-sizing: border-box;
	background: #CCC;
	overflow-y: scroll;
}

.output select {
	width: 100%;
	padding: 4%;
	background: #EEE;
	border: none;
	border-bottom: 2px solid #294e80;
}

table {
	text-align: center;
	width: 100%;
	border-collapse: collapse
}

th, td {
	padding: 1%;
	margin: 0;
}

th:first-child, td:first-child {
	width: 64px;
	background: rgba(0,0,0,0.05);
}

tr { margin: 0; }

tr:nth-child(even) {background: #D6D6D6}

main {
	margin-top: 4px;
	width: 100%;
	padding: 0;
}

section {
	display: none;
}

section.sel {
	display: block;
}

main textarea {
	width: 100%;
	margin: 0;
	padding: 2%;
    border-radius: 0px;
    box-sizing: border-box;
	border: none;
	font-size: 1.2em;
    background-color: #eee;
    color: #777;
	background-position: bottom  right;
	background-repeat: no-repeat;
	resize: none;
}

#asm {
	width: 100%;
	font-size: 10pt;
	height: 240pt;
	overflow: visible;
}

#asm::before {
	z-index: 1;
	content: "";
	position: absolute;
	bottom: 0;
	right: 16px;
	width: 280px;
	height: 58px;
	background-position: bottom  right;
	background-repeat: no-repeat;
	background-image: url(../Images/assemblyoverlay.png);
    transition: opacity 0.2s, visibility 0.2s 0.2s;
	opacity: 1;
	visibility: visible;
}

#asm:hover::before {
	opacity: 0;
	visibility: hidden;
}

.grabber {
	content: '';
	z-index: 1;
	width: 100%;
	height: 8px;
	background: #ccc;
	background-image: url(../Images/grabber.png);
	background-repeat: no-repeat;
	background-position: center;
}

#machinecode {
	background-image: url(../Images/machinecodeoverlay.png);
}

#machinecode::before {
    transition: opacity 0.2s, visibility 0.2s 0.2s;
	opacity: 1;
	visibility: visible;
}

#machinecode:hover::before {
	opacity: 0;
	visibility: hidden;
}

#asm:focus, #machinecode:focus {
	background-image: none;
}

#console, #instructions, #memory {
	background-position: bottom  right;
	background-repeat: no-repeat;
}

#console {
	background-image: url(../Images/consoleoverlay.png);
}

#instructions {
	background-image: url(../Images/instructionsoverlay.png);
}

#memory {
	background-image: url(../Images/memoryoverlay.png);
}

#console:hover, #instructions:hover, #memory:hover {
	background-image: none;
}

footer {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer {
    padding-top: 20pt;
    font-size: 10pt;
    margin: auto;
    text-align: center;
}

header {
	background-color: #F2F2F2;
	height: 40px;
	padding: 0 32px;
}

header h1 {
	display: inline-block;
	font-size: 1.2em;
	padding: 0em;
}

header h1 a {
	color: #5c7290;
}

header h1 a:hover {
	color: #86a6d2;
}

header > div, header > label {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: cover;
	float: right;
	position: relative;
	margin: 8px;
}

.tooltip {
	padding: 8px 12px;
	position: absolute;
	top: 32px;
	left: 50%;
	width: 104px;
	z-index: 88;
	box-sizing: border-box;
	margin-left: -56px;
	text-align: center;
	color: white;
	font-size: 12px;
	border-radius: 8px;
	background: #333;
	visibility: hidden;
	opacity: 0;
    transition: opacity 1s;
}

div:hover .tooltip, label:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip::before {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #333 transparent;
}

#fileInputElement, #asmInputElement {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.asmUpload { background-image: url("../Images/asmUpload.png"); }
.fileUpload { background-image: url("../Images/fileUpload.png"); }
.assemble { background-image: url("../Images/assemble.png"); }
.disassemble { background-image: url("../Images/disassemble.png"); }
.simulate { background-image: url("../Images/stepByStep.png"); }
.stepbystep { background-image: url("../Images/play.png"); }
.downloadBin { background-image: url("../Images/fileDownload.png"); }
.download { background-image: url("../Images/asmDownload.png"); }

.asmUpload:hover { background-image: url("../Images/asmUpload_hover.png"); }
.fileUpload:hover { background-image: url("../Images/fileUpload_hover.png"); }
.assemble:hover { background-image: url("../Images/assemble_hover.png"); }
.disassemble:hover { background-image: url("../Images/disassemble_hover.png"); }
.simulate:hover { background-image: url("../Images/stepByStep_hover.png"); }
.stepbystep:hover { background-image: url("../Images/play_hover.png"); }
.downloadBin:hover { background-image: url("../Images/fileDownload_hover.png"); }
.download:hover { background-image: url("../Images/asmDownload_hover.png"); }

#ShowMC {
	float: right;
	width:  16px;
	height: 16px;
}

#console {
	overflow-y: auto;
	display: inline-block;
}

.output > p > span {
	display: block;
}

#console span.input {
	color: #4d7dbf;
	font-weight: bold;
	text-decoration: underline;
}

#console span.insertable::before {
	content: '>';
	animation: blinker 0.8s step-start infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

hr {
	height: 1px;
	border:none;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0));
}

ul.topbar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5c7290;
}

ul.topbar li
{
    float:left;
}

ul.topbar li a
{
    display: inline-block;
    color: #DFDFDF;
    text-align: center;
    vertical-align: middle;
    padding: 20px 20px;
    text-decoration: none;
    transition: 0.1s;
    font-size: 16px;
}

ul.topbar li a:hover
{
    background-color: #2b476d;
}