header {
    background-color: #526681;
}

header > a, header > select {
    background: #404f64;
}

/* Mains */
aside, footer {
    background-color: #333;
}

section {
    background-color: #444;
}

/* Side */
.optionsTabs > div {
    background: #444;
    color: #999;
}

.optionsTabs > div.selected {
    color: #fff;
}

aside span {
    color: #aaa;
}

aside select, aside input {
    background: #444;
    color: #eee;
}

aside button {
    background: #404f64;
    color: #ccc;
}

aside button:hover {
    background: #526681;
    color: #fff;
}

/* Resizers */
.grabberX, .grabberY {
    background-color: #222;
}

/* Tabs */
nav {
    background-color: #393939;
    border-bottom: #526681 2px solid;
}

nav > div {
    color: #777;
    background-color: #444;
    border-color: #222;
}

nav > div:hover {
    background: #292929;
    color: #fff;
}

nav > div.selected {
    background-color: #526681;
    color: #eee;
}

nav > div > div {
    background-image: url(../images/closeDark.png);
}

/* Navigation Tabs Scrollbar */
nav::-webkit-scrollbar {
    height: 6px;
    margin-bottom: 8px;
    display: none;
    background: transparent;
}

nav:hover::-webkit-scrollbar {
    display: block;
}
 
nav::-webkit-scrollbar-track {
    background: transparent;
}
 
nav::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    height: 3px;
}