body {
    background: black;
    color: white;
}

* {
    font-family: Consolas;
}

input, button, select {
    background: black;
    color: white;
}

/* Navigation Tabs Scrollbar */
nav::-webkit-scrollbar {
    height: 6px;
    margin-bottom: 8px;
    display: none;
    background: transparent;
}

nav:hover::-webkit-scrollbar {
    display: block;
}
 
nav::-webkit-scrollbar-track {
    background: transparent;
}
 
nav::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
    height: 3px;
}